$alto: #DBDBDB;
$boulder: #767676;
$ebony-clay: #242A37;
$mystic: #E8EFF1;
$white: #FFF;
$tundora: #484848;
$picton-blue: #319EEE;
$chambray: #334D84;
$red-orange: #F7323F;
$cerulean: #00A5F4;
$gray: #8F8F8F;
$butterfly-bush: #56528B;
$viking: #71BCDB;
$abbey: #49494A;