// Font Variables
$font--TradeGothic: 'TradeGothic';
$font--MaisonNeueBook: 'MaisonNeue-Book';
$font--MaisonNeueBold: 'MaisonNeue-Bold';
$font--MaisonNeueDemi: 'MaisonNeue-Demi';
$font--MaisonNeueLight: 'MaisonNeue-Light';
$font--MaisonNeueMedium: 'MaisonNeue-Medium';
$font--MaterialIcons: 'Material Icons';

// Color Variables
$color--alto: #DBDBDB;
$color--boulder: #767676;
$color--ebony-clay: #242A37;
$color--mystic: #E8EFF1;
$color--white: #FFF;
$color--tundora: #484848;
$color--picton-blue: #319EEE;
$color--chambray: #334D84;
$color--red-orange: #F7323F;
$color--cerulean: #00A5F4;
$color--gray: #8F8F8F;
$color--butterfly-bush: #56528B;
$color--viking: #71BCDB;
$color--abbey: #49494A;

//Social Icon Colors
$facebook: #3B5998;
$twitter: #00ACED;
$linkedin: #007bb6;