
/* Font Variables */
/* Color Variables */
/* Background Colors */
.brand_blue {
  background-color: #00A5F4 !important; }

.brand_black {
  background-color: #242A37 !important; }

.grey_one {
  background-color: #CBD2DD !important; }

.grey_two {
  background-color: #E8EFF1 !important; }

.tan {
  background-color: #D6D6B0 !important; }

.berry {
  background-color: #B60C86 !important; }

.lime {
  background-color: #C4D600 !important; }

.peach {
  background-color: #FF913B !important; }

.powder_blue {
  background-color: #71BCDB !important; }

.sunflower {
  background-color: #FFCD16 !important; }

.aubergine {
  background-color: #50273E !important; }

.pine {
  background-color: #036031 !important; }

.coral {
  background-color: #F3675A !important; }

.navy_blue {
  background-color: #001E60 !important; }

.teal {
  background-color: #47B2B1 !important; }

.pea {
  background-color: #78B470 !important; }

.astral {
  background-color: #007DA4 !important; }

.purple {
  background-color: #270E73 !important; }

.rose {
  background-color: #D60057 !important; }

.olive {
  background-color: #80820F !important; }

.plum {
  background-color: #56528B !important; }

.tomato {
  background-color: #F7323F !important; }

.sky_blue {
  background-color: #00B5E2 !important; }

.mist {
  background-color: #C0DBD8 !important; }

.modal-gray {
  background-color: #232A37;
  color: #FFFFFF;
  opacity: 0.5; }


/* TEXT SHADOWS FOR WHITE BACKGROUNDS */
/* MISC */
.bg-wrapper {
  height: inherit;
  width: inherit;
  opacity: 0.4; }
  .bg-wrapper:not(.hero-bg):hover {
    background-color: transparent !important;
    transition: all 1s;
    -webkit-transition: all 1s; }

/* DOM ELEMENTS */
h3 {
  color: #242A37;
  font-size: 40px; }

/* TOUT ELEMENT */
.tout {
  text-align: center;
  margin: 10px 0; }
  .tout > .title {
    font-family: "TradeGothic";
    font-size: 40px;
    line-height: 40px;
    color: #00A5F4;
    text-transform: uppercase; }
  .tout > .content {
    font-family: "Maison Neue Book";
    font-size: 17px;
    line-height: 24px;
    font-weight: 300;
    margin: 25px 0 28px 0; }
  .tout > .path {
    font-family: "Maison Neue Demi";
    font-size: 17px;
    font-weight: 500;
    line-height: 24px; }

/* --- END OF TOUT ELEMENT --- */
/* IMAGE CARD ELEMENT */
.image-card-element {
  display: block;
  height: 640px;
  color: #FFFFFF;
  margin: 5px 0;
  cursor: pointer;
  transition: all 1s;
  -webkit-transition: all 1s; }
  .image-card-element.grayscale {
    -webkit-filter: grayscale(1) !important; }
    .image-card-element.grayscale:hover {
      -webkit-filter: grayscale(0) !important; }
  .image-card-element > .wrapper {
    position: absolute;
    width: 97%;
    cursor: pointer;
    /* TEXT POSITIONS */
    /* --- END OF TEXT POSITIONS --- */ }
    .image-card-element > .wrapper.left.top, .image-card-element > .wrapper.center.top, .image-card-element > .wrapper.right.top {
      top: 10%; }
    .image-card-element > .wrapper.left.middle, .image-card-element > .wrapper.center.middle, .image-card-element > .wrapper.right.middle {
      top: 45%; }
    .image-card-element > .wrapper.left.bottom, .image-card-element > .wrapper.center.bottom, .image-card-element > .wrapper.right.bottom {
      bottom: 10%; }
    .image-card-element > .wrapper.left {
      padding-left: 60px; }
    .image-card-element > .wrapper.right {
      text-align: right;
      padding-right: 60px; }
    .image-card-element > .wrapper.center {
      text-align: center; }
    .image-card-element > .wrapper > .title {
      font-family: "TradeGothic";
      font-size: 40px;
      line-height: 40px;
      color: #FFFFFF !important;
      padding-bottom: 12px;
      text-transform: uppercase;
      text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4), 0 -3px 1px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1); }
    .image-card-element > .wrapper > .link-text {
      font-family: "Maison Neue Light";
      display: inline;
      font-size: 17px;
      line-height: 24px;
      color: #FFFFFF !important;
      padding-right: 14px;
      text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4), 0 -3px 1px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1); }
      .image-card-element > .wrapper > .link-text > .i8-right {
        font-size: 34px;
        vertical-align: middle; }

/* --- END OF IMAGE CARD ELEMENT --- */
/* VIDEO ELEMENT */
.video-element {
  height: 792px;
  padding: 78px 0; }
  .video-element > #videoElementPlay {
    position: absolute;
    color: white;
    top: 45%;
    left: 47%;
    font-size: 70px;
    text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4), 0 -3px 1px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1); }
  .video-element > .wrapper {
    width: 100%;
    height: 100%; }
    .video-element > .wrapper > #videoElementImg {
      width: inherit;
      height: inherit; }
    .video-element > .wrapper > #videoElementVideo {
      display: none;
      width: inherit;
      height: inherit;
      border: 0; }

/* --- END OF VIDEO ELEMENT --- */
/* IMAGE OVERLAY ELEMENT */
.image-overlay {
  height: 470px;
  width: 360px;
  margin: 15px auto;
  display: block; }
  .image-overlay > img {
    position: absolute;
    width: inherit;
    height: inherit;
    opacity: .4; }
  .image-overlay:hover > img {
    opacity: 1;
    transition: all 1s;
    -webkit-transition: all 1s; }
  .image-overlay .wrapper {
    position: absolute;
    color: #FFFFFF;
    bottom: 40px;
    padding-left: 32px;
    width: inherit; }
    .image-overlay .wrapper .title {
      font-family: "TradeGothic";
      text-transform: uppercase;
      font-size: 39px;
      line-height: 40px;
      color: #FFFFFF;
      text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4), 0 -3px 1px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1); }
    .image-overlay .wrapper .link-text {
      font-family: "Maison Neue Light";
      text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4), 0 -3px 1px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1); }
      .image-overlay .wrapper .link-text .i8-right {
        font-size: 34px;
        vertical-align: middle; }
  .image-overlay.no-overlay img {
    opacity: 1; }

/* --- END OF IMAGE OVERLAY ELEMENT --- */
/* --- CALL TO ACTION ELEMENT --- */
.call-to-action {
  background-color: #00A5F4;
  color: #FFFFFF;
  text-align: center;
  height: 325px; }
  .call-to-action .wrapper {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .call-to-action .wrapper > .title {
      font-family: "TradeGothic";
      font-size: 32px;
      line-height: 32px;
      text-transform: uppercase;
      padding: 15px 0; }
    .call-to-action .wrapper > .content {
      font-family: "Maison Neue Light"; }
    .call-to-action .wrapper > .donation-options {
      font-family: "Maison Neue Light";
      padding: 24px 0; }
      .call-to-action .wrapper > .donation-options > li {
        list-style-type: none;
        display: inline-block;
        padding: 0 10px; }
        .call-to-action .wrapper > .donation-options > li > label {
          font-size: 12px;
          padding: 5px 0;
          cursor: pointer;
          border: 2px solid #FFFFFF;
          border-radius: 20px;
          width: 85px; }
        .call-to-action .wrapper > .donation-options > li > input {
          display: none; }
          .call-to-action .wrapper > .donation-options > li > input:checked + label {
            background-color: #FFFFFF;
            color: #242A37; }
    .call-to-action .wrapper > .donate {
      width: 94px;
      background-color: #242A37; }
      .call-to-action .wrapper > .donate:hover, .call-to-action .wrapper > .donate:focus {
        color: #FFFFFF; }

/* --- END OF CALL TO ACTION --- */
/* CALENDAR ELEMENT */
.fc-event-title, .fc-event-time {
  color: #FFFFFF; }

#calendarMobile {
  display: none; }

/* --- END OF CALENDAR ELEMENT --- */
/* CMS element - Accordion */
.accordion {
  padding-left: 0; }
  .accordion .dropdown {
    list-style-type: none;
    margin-bottom: 20px; }
    .accordion .dropdown a.dropdown-toggle {
      text-decoration: none;
      background-color: #F8F8FA;
      color: #242A37;
      display: block;
      padding: 20px 10px;
      vertical-align: middle;
      font-size: 20px; }
      .accordion .dropdown a.dropdown-toggle .glyphicon {
        float: right; }
    .accordion .dropdown li {
      list-style-type: disc; }
    .accordion .dropdown span.glyphicon {
      color: #00A5F4;
      -webkit-transition-duration: 1.0s;
      -moz-transition-duration: 1.0s;
      -o-transition-duration: 1.0s;
      transition-duration: 1.0s;
      -webkit-transition-property: -webkit-transform;
      -moz-transition-property: -moz-transform;
      -o-transition-property: -o-transform;
      transition-property: transform;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg); }
      .accordion .dropdown span.glyphicon:before {
        font-size: 28.56pt;
        line-height: 0.6; }
    .accordion .dropdown.open span.glyphicon {
      color: #FFFFFF;
      -webkit-transition-duration: 1.0s;
      -moz-transition-duration: 1.0s;
      -o-transition-duration: 1.0s;
      transition-duration: 1.0s;
      -webkit-transition-property: -webkit-transform;
      -moz-transition-property: -moz-transform;
      -o-transition-property: -o-transform;
      transition-property: transform;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .accordion .dropdown.open a.dropdown-toggle {
      background-color: #00A5F4;
      color: #FFFFFF;
      display: block; }
  .accordion .dropdown-menu {
    position: static;
    top: auto;
    left: auto;
    z-index: auto;
    float: none;
    border: none;
    box-shadow: none;
    background-color: #F8F8FA;
    margin: 0;
    padding: 36px 90px;
    display: none; }

@media screen and (max-width: 760px) {
  .accordion .dropdown-menu {
    padding: 18px 45px; } }

@media screen and (max-width: 512px) {
  .accordion .dropdown-menu {
    padding: 9px 22px; } }

/* End CMS element  - Accordion */
/* CMS element - Hero */
.hero {
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: calc(100% / 1440 * 819);
  max-height: 840px;
  min-height: 624px;
  cursor: default; }
  .hero.home-hero h1 {
    font-size: 70px;
    text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4), 0 -3px 1px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1); }
  .hero.home-hero div {
    width: 526px; }
    .hero.home-hero div.center {
      left: calc(50% - 263px); }
  .hero h1 {
    font-family: "TradeGothic";
    font-size: 60px;
    color: #FFFFFF;
    line-height: 68px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4), 0 -3px 1px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1); }
  .hero h2 {
    border-top: solid;
    border-top-width: 7px;
    border-top-color: #00A5F4;
    color: #FFFFFF;
    padding-top: 20px;
    font-size: 30px;
    text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4), 0 -3px 1px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1); }
  .hero a:active, .hero a:hover, .hero a:link, .hero a:visited {
    color: #FFFFFF;
    text-decoration: none;
    font-family: "sans-serif";
    font-weight: 500;
    font-size: 20px;
    line-height: 50px;
    background-color: #00A5F4;
    width: 230px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: block;
    text-align: center;
    padding: 0;
    margin-top: 61px; }
  .hero div {
    width: 770px;
    position: absolute; }
    .hero div.bottom {
      bottom: 130px; }
    .hero div.top {
      top: 135px; }
    .hero div.middle {
      top: calc(50% - 226px); }
    .hero div.left {
      left: 113px; }
    .hero div.right {
      right: 113px;
      text-align: right; }
      .hero div.right a {
        float: right; }
    .hero div.center {
      left: calc(50% - 385px);
      text-align: center; }
      .hero div.center a {
        margin-left: auto;
        margin-right: auto; }
  .hero > .bg-wrapper {
    height: 96% !important;
    width: inherit !important; }

@media screen and (min-width: 2560px) {
  .hero div.bottom {
    bottom: 70px; } }

@media screen and (max-width: 768px) {
  .hero div.bottom {
    bottom: 70px; } }

@media screen and (max-width: 1199px) {
  .hero {
    background-attachment: local; }
    .hero.home-hero div {
      width: 363px; }
      .hero.home-hero div.center {
        left: calc(50% - 181px); }
    .hero h1 {
      font-size: 60px;
      line-height: 60px; }
    .hero h2 {
      border-top-width: 6px;
      font-size: 27px; }
    .hero div {
      width: 600px; }
      .hero div.center {
        left: calc(50% - 300px); }
      .hero div.right a {
        margin-left: auto;
        margin-right: auto; } }

@media screen and (max-width: 999px) {
  .hero h1 {
    font-size: 50px;
    line-height: 50px; }
  .hero h2 {
    border-top-width: 5px;
    font-size: 24px; }
  .hero div.right {
    right: 85px; }
  .hero div.left {
    left: 85px; } }

@media screen and (max-width: 768px) {
  .hero {
    min-height: 624px;
    padding-left: 0;
    padding-right: 0; }
    .hero.home-hero.center {
      left: calc(50% - 158px); }
    .hero h1 {
      font-size: 40px;
      line-height: 40px;
      margin-left: auto;
      margin-right: auto; }
    .hero h2 {
      border-top-width: 4px;
      font-size: 20px; }
    .hero a {
      margin-left: auto;
      margin-right: auto; }
    .hero div {
      width: 380px; }
      .hero div.center {
        left: calc(50% - 190px); }
      .hero div.right {
        right: 10px; }
      .hero div.left {
        left: 10px; } }

@media screen and (max-width: 400px) {
  .hero div {
    text-align: center; }
    .hero div.center {
      left: 0;
      width: 100%; }
    .hero div.right {
      text-align: center;
      right: 0;
      width: 100%; }
      .hero div.right a {
        float: none; }
    .hero div.left {
      left: 0;
      width: 100%; } }

/* End CMS element - Hero */
/* CMS element - Curve Down */
#curveDown {
  margin-top: -50%;
  width: 100%;
  height: 120px;
  padding-bottom: 14px; }
  #curveDown path {
    fill: #FFFFFF;
    stroke: #FFFFFF; }

@media screen and (min-width: 2560px) {
  #curveDown {
    height: 60px; } }

@media screen and (max-width: 768px) {
  #curveDown {
    height: 60px; } }

/* End CMS element - Curve Down*/
/* CMS element - Curve Up */
#curveUp {
  margin-top: -250px;
  width: 100%;
  height: 120px;
  padding-bottom: 12px;
  z-index: 10;
  position: relative; }
  #curveUp path {
    fill: #FFFFFF;
    stroke: #FFFFFF; }

@media screen and (min-width: 2560px) {
  #curveUp {
    height: 60px; } }

@media screen and (max-width: 768px) {
  #curveUp {
    height: 60px; } }

/* End CMS element - Curve Up*/
/* CMS element - staff bio */
.staff-bio {
  padding: 30px 0; }
  .staff-bio div {
    font-family: "Maison Neue Medium";
    padding: 0; }
    .staff-bio div:first-child {
      padding-right: 30px; }
    .staff-bio div:last-child {
      padding-left: 0; }
  .staff-bio img {
    width: 100%;
    max-height: 100%; }
  .staff-bio h4.name {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    line-height: 29px; }
  .staff-bio h5.title {
    font-family: "Maison Neue Book";
    font-size: 17px;
    font-weight: 300;
    margin: 0 0 16px;
    line-height: 24px; }
  .staff-bio a.show-bio {
    display: none;
    text-decoration: none; }
    .staff-bio a.show-bio:hover, .staff-bio a.show-bio:active, .staff-bio a.show-bio:link, .staff-bio a.show-bio:visited {
      text-decoration: none;
      color: #00A5F4; }

@media screen and (max-width: 768px) {
  .staff-bio div:first-child {
    padding-right: 0px; }
  .staff-bio div:last-child {
    padding-left: 10px; }
  .staff-bio div p {
    display: none; }
    .staff-bio div p:first-child {
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      display: block;
      display: -webkit-box;
      height: 62px;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0; }
  .staff-bio div h4.name {
    margin-top: 20px;
    font-size: 17px;
    line-height: 24px; }
  .staff-bio div h5.title {
    font-size: 15px;
    line-height: 22px; }
  .staff-bio div a.show-bio {
    margin-top: 20px;
    display: inline-block;
    font-family: "Maison Neue Demi"; }
  .staff-bio div.open a.show-bio {
    display: none; }
  .staff-bio div.open p {
    display: block; }
    .staff-bio div.open p:first-child {
      -webkit-line-clamp: initial;
      display: block;
      height: inherit;
      overflow: inherit;
      margin: 0 0 10px; } }

@media screen and (max-width: 414px) {
  .staff-bio div {
    display: block;
    width: 100%;
    padding: 0; }
    .staff-bio div img {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      display: block; } }

/* End CMS element - staff bio */
