
.brand_blue {
  background-color: #00A5F4 !important; }

.brand_black {
  background-color: #242A37 !important; }

.grey_one {
  background-color: #CBD2DD !important; }

.grey_two {
  background-color: #E8EFF1 !important; }

.tan {
  background-color: #D6D6B0 !important; }

.berry {
  background-color: #B60C86 !important; }

.lime {
  background-color: #C4D600 !important; }

.peach {
  background-color: #FF913B !important; }

.powder_blue {
  background-color: #71BCDB !important; }

.sunflower {
  background-color: #FFCD16 !important; }

.aubergine {
  background-color: #50273E !important; }

.pine {
  background-color: #036031 !important; }

.coral {
  background-color: #F3675A !important; }

.navy_blue {
  background-color: #001E60 !important; }

.teal {
  background-color: #47B2B1 !important; }

.pea {
  background-color: #78B470 !important; }

.astral {
  background-color: #007DA4 !important; }

.purple {
  background-color: #270E73 !important; }

.rose {
  background-color: #D60057 !important; }

.olive {
  background-color: #80820F !important; }

.plum {
  background-color: #56528B !important; }

.tomato {
  background-color: #F7323F !important; }

.sky_blue {
  background-color: #00B5E2 !important; }

.mist {
  background-color: #C0DBD8 !important; }

.modal-gray {
  background-color: #232A37;
  color: #FFFFFF;
  opacity: 0.5; }

/* Element Variables */
