
@import "../general";

/* DESKTOP */
@media (min-width: 1200px) {

}

/* DESKTOP */
@media (min-width: 992px) {

}

/* TABLET */
@media (min-width: 768px) {

}

/* MOBILE */
@media (min-width: 320px) {
    #setNewPassword {
        text-align: center;

        .container {
            .row {
                border-radius: 2px;
                border: solid 1px $alto;
            }
        }
    }
}